header
{ min-height:50px;
  background:rgb(122, 97, 27);
  background-color: antiquewhite; 
}
body 
    {font-family: "Lato", sans-serif;
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 20px;
   margin: 0 auto;
   text-align: left;
   list-style: none;  
   background-color: beige;
   padding: 25px
  }
  
  
  .sidenav 
  {height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a 
  {padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    }
  
  .sidenav a:hover 
  {color: #f1f1f1;
    }
  
  main 
  { margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
    background:rgb(218, 205, 133)
   }
  
  @media screen and (max-height: 450px)
   {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

  
 

  img
   {display: block;
    float:right;
     margin:10px;
     margin-left: auto;
     clear: right;
    }
   .right 
   {float: right;
    padding: 0 0 20px 20px;
    }
  
   p
   {clear:right;
    text-align: justify;
    font-size: 22px;
    padding: 10px
  }
   
   
   body
   {padding: 20px;
   margin: 0 auto;
   text-align: left;
   list-style: none;  
   background-color: rgb(245, 240, 220);
    }

footer
{ min-height:50px; 
  background:PapayaWhip; 
  }

  h1, h2, h3, h4, h5, h6 
  {font-family: "Lato", sans-serif;
    text-shadow: 1px 1px 1px #ccc;
    box-shadow: 0 0 1em 1em #f0b864b7;
    margin-right: 1500px;
    padding: 10px
    }
img 
{
  margin: 10px
}